body {
  font-size:16px;
}

a, a:visited, a:active, a:hover {
  color: blue;
}

ul {
  list-style-type: none;
}

ul.where {
  padding: 0;
}
ul.where li {
  display: inline;
}

ul.where li:not(:first-child):before {
  content: " | ";
}
